{% extends 'barra-nav-lateral.html' %}
{% block tabla %}
    <!-- Botones de acción principales -->
    
    <div class="action-buttons">
        <a href="{% url 'registro_proveedor' %}">
            <button class="add-button">
                <i class="fas fa-plus"></i> AGREGAR
            </button>
        </a>
        
        <!--<button class="view-button"><i class="fas fa-eye"></i> PAGOS</button>
        <button class="delete-all-button"><i class="fas fa-trash"></i> ELIMINAR</button>-->
    </div> 
    <!-- Contenedor de la tabla -->
    <div class="table-container">
        <!-- Tabla de datos --> 
        <table role="grid">
            <!-- Encabezados de la tabla -->
            <thead>
                <tr>
                    <th scope="col">DNI</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">TELÉFONO</th>
                    <th scope="col">UBICACIÓN</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla -->
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.dni_pasaporte }}</td>
                    <td>{{ proveedor.nombre }} {{ proveedor.apellidos }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.ubicacion }}</td>
                    <td>{{ proveedor.correo_electronico }}</td>
                    <!-- Botones de acción por fila -->
                    <td class="action-buttons">
                        <a href="{% url 'editar_proveedor' proveedor.id_proveedor %}" class="edit-button"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'eliminar_proveedor' proveedor.id_proveedor %}" class="delete-button" onclick="return confirm('¿Seguro que deseas eliminar este proveedor?')"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay proveedores registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}